<footer>
	<nav>
		<ul role="menu">
			<li><a href="/" {% if page.url=="/" %}aria-current="page" {% endif %}>HOME</a></li>
			<li><a href="/impact/" {% if page.url=="/impact/" %}aria-current="page" {% endif %}>IMPACT</a></li>
			<li><a href="/offerings/" {% if page.url=="/offerings/" %}aria-current="page" {% endif %}>OFFERINGS</a></li>
			<li><a href="/community/" {% if page.url=="/community/" %}aria-current="page" {% endif %}>COMMUNITY</a></li>
			<li><a href="https://connect.mindset.dojo.center/" target="_blank">CONTACT</a></li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li>
				<p>© 2025 Mindset Dojo</p>
			</li>
			<li>
				<a href="/privacy-policy/" {% if page.url=="/privacy-policy/" %}aria-current="page" {% endif %}>Privacy Policy</a>
			</li>
		</ul>
	</nav>
	<img src="/assets/mindset-dojo-torii-gate.png" alt="Mindset Dojo Torii Gate Background Image" width="800" height="601" decoding="async" loading="lazy" sizes="(max-width: 800px) 100vw, 800px">
</footer>
<script src="/assets/js/md.js"></script>