@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../libs/google/fonts/roboto-v47-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Afacad";
    font-style: normal;
    font-weight: 700;
    src: url('../libs/google/fonts/afacad-v1-latin-700.woff2') format('woff2');
}

:root {
    --site-width: 1100px;
    --site-padding: calc(8px + 1.5625vw);

    --primary-font: "Afacad";
    --secondary-font: "Roboto";
    --font-style-normal: normal;
    --font-stlye-italic: italic;

    --dark-color-primary: #000000;
    --dark-color-secondary: rgba(33, 33, 33, 0.8);

    --light-color-primary: #fffff0;
    --light-color-secondary: #bbbbbb;

    --brand-color-primary: #ffbb08;
    --brand-color-secondary: #ff6e15;

    --text-dark-color: var(--dark-color-primary);
    --text-light-color: var(--light-color-secondary);

    --border-dark-color: #212121;
    
    --nav-text-color: var(--light-color-primary);
    --nav-text-active-color: var(--brand-color-secondary);

    --button-background-color: var(--brand-color-primary);
    --button-background-hover-color: #b38300;
    --button-text-color: var(--text-dark-color);

    /* responsive typography */
    --h1: clamp(2.44rem, 1.36vw + 2.17rem, 3.26rem);
    --h2: clamp(1.95rem, 0.82vw + 1.79rem, 2.44rem);
    --h3: clamp(1.56rem, 0.45vw + 1.47rem, 1.83rem);
    --h4: clamp(1.25rem, 0.21vw + 1.21rem, 1.38rem);
    --h5: clamp(1rem, 0.05vw + 0.99rem, 1.03rem);
    --h6: clamp(0.8rem, -0.04vw + 0.81rem, 0.77rem);
    --h1-line-height: 1.1;
    --h2-line-height: 1.2;
    --h3-line-height: 1.3;
    --h4-line-height: 1.4;
    --h5-line-height: 1.5;
    --h6-line-height: 1.6;
    --text-xl: clamp(1.27rem, 0.59vw + 1.15rem, 1.62rem);
    --text-l: clamp(1.13rem, 0.37vw + 1.05rem, 1.35rem);
    --text-m: clamp(1rem, 0.21vw + 0.96rem, 1.13rem);
    --text-s: clamp(0.89rem, 0.08vw + 0.87rem, 0.94rem);
    --text-xs: clamp(0.79rem, -0.01vw + 0.79rem, 0.78rem);
    --text-xl-line-height: 1.4;
    --text-l-line-height: 1.5;
    --text-m-line-height: 1.5;
    --text-s-line-height: 1.6;
    --text-xs-line-height: 1.7;
    --transition: all 0.5s ease;
}

*,
:after,
:before,
html {
    box-sizing: border-box;
}

:after,
:before {
    outline: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--dark-color-primary);
    color: var(--text-light-color);
    font-family: var(--secondary-font);
    font-size: var(--text-m);
    line-height: var(--text-m-line-height);
}

header {
    background-color: var(--dark-color-primary);
}

section {
    margin-bottom: 20px;
}

main ul > li,
main ol > li {
    margin-bottom: 12px;
}

main {
    margin-top: 20px;
    margin-bottom: 60px;
}

main ul,
main ol {
    margin-top: 0;
    margin-bottom: 20px;
}

main ul:last-child,
main ol:last-child {
    margin-bottom: 0;
}

main ul {
    padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--light-color-primary);
    font-family: var(--primary-font);
    margin: 0 0 8px;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    font-weight: 700;
}

h1, h2 {
    text-align: center;
}

h3, h4, h5, h6 {
    margin: 0 0 12px 0;
}

h1 {
    font-size: var(--h1);
    line-height: var(--h1-line-height);
}

h2 {
    font-size: var(--h2);
    line-height: var(--h2-line-height);
}

h3 {
    font-size: var(--h3);
    line-height: var(--h3-line-height);
}

h4 {
    font-size: var(--h4);
    line-height: var(--h4-line-height);
}

h5 {
    font-size: var(--h5);
    line-height: var(--h5-line-height);
}

h6 {
    font-size: var(--h6);
    line-height: var(--h6-line-height);
}

mark {
    background: none;
    color: var(--brand-color-primary);
}

strong {
    color: var(--light-color-primary);
}

small {
    font-size: 75%;
}

blockquote {
    margin: 0;
}

blockquote p {
    color: var(--light-color-primary);
    font-size: var(--text-xl);
    font-family: var(--secondary-font);
    font-style: var(--font-stlye-italic);
}

blockquote p:last-of-type {
    margin-bottom: 0;
}

blockquote footer {
    font-size: var(--text-s);
    margin-top: 12px;
}

a {
    text-decoration: none;
}

p a:not(header a, footer a),
ul a:not(header a, footer a) {
    color: var(--brand-color-secondary);
    font-style: var(--font-stlye-italic);
    border-bottom: 2px dotted var(--brand-color-secondary);
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

:where(p) {
    margin: 0 0 1.2em;
}

hr {
    width: 16%;
    border-top: 3px solid var(--light-color-primary);
    margin-top: 16px;
    margin-bottom: 32px;
}

hgroup hr {
    width: 20%;
}

/* utility */
.md-text-xl {
    font-size: var(--text-xl);
    line-height: var(--text-xl-line-height);
}

.md-text-l {
    font-size: var(--text-l);
    line-height: var(--text-l-line-height);
}

.md-text-m {
    font-size: var(--text-m);
    line-height: var(--text-m-line-height);
}

.md-text-s {
    font-size: var(--text-s);
    line-height: var(--text-s-line-height);
}

.md-text-xs {
    font-size: var(--text-xs);
    line-height: var(--text-xs-line-height);
}

.md-no-scroll {
    overflow: hidden;
}

.md-hidden {
    display: none;
}

.md-cta-group {
    display: flex;
    gap: 36px;
    justify-content: center;
    margin: 40px 0 80px;
}

@media (max-width: 576px) {
    .md-cta-group {
        flex-direction: column;
    }
}

.md-grid-2,
.md-grid-3 {
    display: grid;
    max-width: 100%;
    margin: 0 0 20px;
}

.md-grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.md-grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

@media (max-width: 767px) {
    section.md-grid-2,
    section.md-grid-3 {
        grid-template-columns: 1fr;
        grid-gap: 24px;
    }
}

section.md-grid-2 hgroup,
section.md-grid-3 hgroup {
    margin: 0;
}

section.md-grid-2 blockquote,
section.md-grid-3 blockquote {
    border-radius: 24px;
    background-color: var(--dark-color-secondary);
    padding: 32px;
    margin: 0;
}

section.md-grid-2 blockquote p,
section.md-grid-3 blockquote p {
    font-size: var(--text-s);
}

.md-youtube-player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border: 1px solid var(--border-dark-color);
    border-radius: 24px;
    background-color: var(--dark-color-primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.md-youtube-player iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(100% + 1px);
    height: 100%;
    z-index: 100;
    background: transparent;
}

.md-youtube-player img {
    object-fit: cover;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}

.md-youtube-player img:hover {
    -webkit-filter: brightness(75%);
    filter: brightness(75%);
}

.md-youtube-player .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url('../yt.webp') no-repeat;
    cursor: pointer;
}

.md-icon-svg {
    fill: var(--brand-color-secondary);;
    width: 40px;
    height: 40px;
}

.md-belt-svg {
    height: 40px;
}

.md-belt-svg path {
    stroke-width: 8px;
    fill: white;
    stroke: black;
}

.md-belt-svg.black path {
    stroke-width: 4px;
    fill: black;
    stroke: white;
}

.md-belt-svg.red path {
    fill: red;
}

.md-belt-svg.green path {
    fill: green;
}

/* [ HEADER ] */
header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    transition: background-color .2s, transform .4s;
    z-index: 2;
}

@media (max-width: 767px) {
    header {
        flex-wrap: nowrap;
    }
}

/* logo */
header img {
    object-position: 0;
    object-fit: contain;
    height: 80px;
    transition: all 0.5s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
}

@media (max-width: 991px) {
    header img {
        height: 60px;
    }
}

/* nav */
nav {
    align-items: center;
    display: inline-flex;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

nav a {
    display: block;
    color: var(--nav-text-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    overflow: hidden;
}

nav a[aria-current="page"],
nav a:hover {
    color: var(--nav-text-active-color);
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
}

.md-no-scroll header nav li.md-hidden {
    display: list-item;
}

/* nav desktop menu toggle */
header button {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 99;
}

header button .bar {
    padding: 0;
    width: 30px;
    height: 1px;
    background-color: var(--light-color-primary);
    display: block;
    position: absolute; 
}

header button .bar1 {
    top: 0;
    transform-origin: 0%;
}

header button .bar2,
header button .bar3 {
    top: 13.5px;
}

header button .bar3 {
    right: 0;
}

header button .bar4 {
    bottom: 0;
    transform-origin: 0%;
}

/* nav mobile menu toggle */
.md-no-scroll header button > .bar1 {
    transform: rotate(45deg);
    height: 1px;
    width: 40px;
}

.md-no-scroll header button > .bar2 {
    transform: rotate(-45deg);
    height: 1px;
    background-color: transparent;
}

.md-no-scroll header button > .bar3 {
    transform: rotate(45deg);
    height: 1px;
    background-color: transparent;
}

.md-no-scroll header button > .bar4 {
    transform: rotate(-45deg);
    height: 1px;
    width: 40px;
}

@media (max-width: 767px) {
    header button {
        display: flex;
    }
}

.md-no-scroll header button {
    display: flex;
}

.md-no-scroll header nav ul {
    background-color: var(--dark-color-primary);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* [ BODY ] */
header,
body > footer {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

header,
main,
body > footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-right: var(--site-padding);
    padding-left: var(--site-padding);
    max-width: var(--site-width);
    width: 100%;
}

main {
    flex-direction: column;
}

main > blockquote {
    padding-left: 32px;
    border-left: solid 8px;
    border-left-color: var(--brand-color-primary);
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    main > blockquote {
        font-size: 24px;
    }
}

main > a {
    margin-top: 20px;
}

main > a,
.md-cta-group a {
    align-items: center;
    border-width: 0;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    letter-spacing: .5px;
    text-align: center;
    align-self: center;
    background-color: var(--button-background-color);
    transition: all 0.5s ease;
    border-radius: 36px;
    color: var(--button-text-color);
    font-weight: 700;
    font-style: italic;
    padding: 16px 40px;
    width: 100%;
    max-width: 328px;
}

main > a:hover {
    background-color: var(--button-background-hover-color);
}

/* cards */
hgroup {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--dark-color-secondary);
    padding: 48px;
    margin-bottom: 40px;
}

hgroup + a {
    margin-top: 0;
}

/* [PAGE SPECIFIC] */
/* [COMMUNITY] */
.md-associates {
    display: grid;
    align-items: initial;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 12px;
    justify-items: center;
    margin-top: 60px;
}

.md-associates section {
    border: 2px solid var(--border-dark-color);
    border-radius: 24px;
    padding: 20px;
    background-color: var(--dark-color-primary);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.md-associates section > img {
    width: 100px;
    height: 100px;
    border: 2px solid var(--border-dark-color);
    border-radius: 50%;
    align-self: center;
    margin-bottom: 8px;
    overflow: hidden;
}

.md-associates section h2 {
    font-size: var(--h4);
}

.md-associates section h2 + ul {
    text-align: center;
    align-self: center;
    margin-bottom: 12px;
    padding: 0;
}

.md-associates section h2 + ul li {
    display: inline;
}

.md-associates section h2 + ul li:not(:last-of-type):after {
    content: ", ";
}

.md-associates section .md-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 12px;
    font-size: 0;
}

.md-associates section blockquote {
    color: var(--light-color-primary);
    margin-bottom: 12px;
    padding: 0 12px;
}

/* [PRIVACY POLICY] */
#privacy-policy h2 {
    text-align: left;
}

/* [404] */
#error p {
    font-size: var(--text-xl);
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}

/* [ FOOTER ] */
body > footer {
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-color-primary);
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 2px solid var(--border-dark-color);
    margin-top: auto;
}

footer nav a {
    font-size: 14px;
    margin-right: 14px;
    margin-left: 14px;
}

footer nav + nav {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    justify-content: center;
    row-gap: 8px;
}

footer nav + nav,
footer nav + nav a {
    letter-spacing: normal;
}

body > footer nav ul {
    justify-content: center;
    gap: 14px 0;
}

footer img {
    width: 60%;
    position: fixed;
    opacity: 8%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    object-position: 0;
    z-index: -1;
}